body{
    background-color: rgb(239, 239, 239);
    left: 0; 
    padding: 0;
    margin: 0;
}
.card-container{
    position: relative;
    background-color: white;
    display: flex;
    width: 70%;
    margin:auto;
    margin-top: 5%;
    box-shadow:  0 0 0.0pt 0.0pt black;
    transition: box-shadow 500ms;
    padding: 4%;
    border: none;
}
p{
    font-family: 'Lexend deca';
    padding-right:1rem;
    line-height: 1.4rem;
    font-size: 15px;
    font-weight: 400;
}
.card{
    padding-left: 1.5rem; 
    padding-right: 10px;   
    text-align: left;
    width: 33.3%;
    height: 420px;
    justify-self: center;
    color: white;
    border: none;
}
.card:hover{
    box-shadow: 0 2pt 5pt 3pt black;
}
.icon{
    margin-top: 15px;
}
h4{
    font-size: 25px;
    font-weight: 700;
    font-family: 'big shoulders display', cursive;
    transform: scaleY(1.8);
    letter-spacing: 0.3rem;
    
}

.text{

    /* background-color: burlywood; */
    height: 200px;
}
#card1{
background-color: rgb(226, 133, 37);
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
}
#card2{
    background-color: rgb(1, 105, 114);
}
#card3{
    background-color: rgb(0, 64, 63);
    border-top-right-radius: 7px;
    border-bottom-right-radius:7px ; 
}

.btn{
    border: none;
    color: transparent;
    height:40px;
    width: 140px;
    border-radius: 49px;
    font-weight: 200;
    font-size: 13px;
    font-family: 'Lexend deca';
    background-color: white;
    padding: 10px auto;
}
#btn1:hover{
    height: 45px;
    width: 145px;
    background-color: rgb(226, 133, 37);
    border: 1.8px solid white;
    color: white;
    cursor: pointer;
}
#btn2:hover{
    height: 45px;
    width: 145px;
    background-color: rgb(1, 105, 114);
    border: 1.8px solid white;
    color: white;
    cursor: pointer;
}
#btn3:hover{
    height: 45px;
    width: 145px;
    background-color: rgb(0, 64, 63);
    border: 1.8px solid white;
    color: white;
    cursor: pointer;
}
#btn1{
    color:rgb(226, 133, 37) ;
}
#btn2{
    color:  rgb(1, 105, 114);
}
#btn3{
    color: rgb(0, 64, 63);
}
@media only screen and (max-width: 375px){

.card-container{
    display: inline;
    width: 30%;

}
.card{
    /* margin-bottom: px; */
    width: 70%;
    /* height: auto; */
    margin: 0 auto;
    padding-top: 6px;
}
#card1{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0;
}
#card3{
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


}